@charset "UTF-8";
body {
  /*Rød klat, så musen ikke bliver væk for svagtseende*/
  cursor: none;
}

/*Rød klat, så musen ikke bliver væk for svagtseende*/
.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: #EB5042;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

p, h2, .first-line {
  font-size: 16px;
}

h2, .first-line {
  font-family: newsreader;
}

.second-line {
  font-size: 14px;
}

h1 {
  font-size: 100px;
  font-family: chomsky;
}

h3 {
  font-size: 40px;
  margin-bottom: 0;
}

h5, cite {
  font-size: 20px;
}

h4 {
  font-size: 10px;
}

h4, .second-line {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

cite, p, h3, h5 {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 2%;
  background-color: #F5F5F5;
  /* Sprogmenu styling */
}
body .lang-nav {
  position: relative; /* Positioner containeren relativt for korrekt placering af dropdown-menu */
}
body .dropdown {
  list-style: none;
}
body .dropbtn:active,
body .dropbtn:visited {
  color: inherit; /* Behold farven fra forældrelementet */
}
body .dropdown-content {
  display: none; /* Start med at skjule dropdown-menuen */
  position: absolute;
  background-color: #F5F5F5; /* Baggrundsfarve */
  min-width: 160px; /* Minimumsbredde */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Skyggeeffekt */
  z-index: 1; /* Placer dropdown-menuen foran alt andet indhold */
  padding: 0; /* Fjern polstring */
  list-style: none; /* Fjern listestyling */
  border: none; /* Fjern kant */
}
body .dropdown-content a {
  color: #333333; /* Tekstfarve */
  padding: 12px 16px; /* Polstring */
  text-decoration: none; /* Fjern understregning */
  display: block; /* Gør links til blokke for korrekt placering */
}
body .dropdown-content a:hover {
  background-color: #F5F5F5; /* Baggrundsfarve ved hover */
}
body .show {
  display: block; /* Vis dropdown-menuen når klassen 'show' tilføjes */
}
body .burger-container {
  position: relative;
  cursor: pointer;
}
body .burger-menu {
  display: none;
}
body .overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-gennemsigtig baggrund */
  display: none; /* Start skjult */
  justify-content: center;
  align-items: center;
}
body .modal-nav {
  width: 80%;
  max-width: 600px;
  padding: 40px;
  border: 2px solid #333333; /* Ændr kantfarven her */
  background-color: #F5F5F5;
  align-items: center;
  display: flex;
  flex-direction: column; /* Sikrer, at indholdet er stablet lodret */
  justify-content: center; /* Centrer lodret */
  align-items: center; /* Centrer vandret */
}
body .modal-nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
body .modal-nav ul li {
  margin-bottom: 20px;
}
body .modal-nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}
body .modal-nav ul li a:hover {
  color: #ffcc00;
}
body main {
  padding: 2%;
}
body main img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
body main img:hover {
  transform: scale(1.05);
}
body main #read-aloud-button, body main #read-aloud-button-annonce {
  border: none;
  background-color: transparent;
  padding: 10px;
}
body main #read-aloud-button i, body main #read-aloud-button-annonce i {
  color: #3373D2;
  font-weight: bold;
  font-size: 20px;
}
body main #read-aloud-button-annonce {
  align-self: flex-start;
}
body main .lydogjournalist {
  display: flex;
  align-items: center;
}
body main #read-aloud-button {
  margin-right: 10px;
}
body main .author-name {
  border-top: 1px solid #333333;
  padding-top: 10px;
}
body main h4 {
  margin: 0;
}
body main .advertisement {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 2px solid black;
  background-color: #F5F5DE;
}
body main .advertisement .annonce-line {
  border-top: 1px solid #333333;
  padding-top: 0;
  width: 25%;
  text-align: center;
}
body main .advertisement .advertisement-heading {
  margin: 0;
  font-size: 100px;
  color: #AAAAAA;
}
@media screen and (max-width: 768px) {
  body main .advertisement .advertisement-heading {
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}
body main .divider-main {
  border-top: 1px solid #333333;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
body main .samtale {
  padding-bottom: 20px;
}
body main .custom-button, body main .no-button, body main .yes-button, body main .next-button {
  border-radius: 100px;
  background-color: #F5F5F5;
  text-align: center;
  font-size: 30px;
  font-family: "Chomsky";
  color: #3373D2;
  box-shadow: 0px 5px 15px #3373D2;
  border: none;
}
body main .custom-button {
  width: 200px;
  height: 70px;
}
body main .no-button, body main .yes-button, body main .next-button {
  width: 135px;
  height: 50px;
}
body main .around-button {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-gennemsigtig baggrund */
  display: none; /* Start skjult */
  justify-content: center;
  align-items: center;
}
body main .overlay .modal {
  width: 80%;
  max-width: 600px;
  padding: 40px;
  border: 2px solid #333333; /* Ændr kantfarven her */
  background-color: #F5F5F5;
  justify-content: center;
  align-items: center;
}
body main .overlay .modal p {
  margin-bottom: 20px;
  text-align: center; /* Centrer tekst i <p> elementer */
}
body main .overlay .modal button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  border: none;
  background-color: #F5F5F5;
  color: #3373D2;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}
body footer img {
  width: 100%;
  max-width: 10%;
  height: auto;
  display: block;
}/*# sourceMappingURL=styles.css.map */