@use 'extra';

// Farver
$primary-color: #333333;
$secondary-color: #F5F5DE;
$bg-color: #F5F5F5;
$success-color: #65C855;
$warning-color: #EB5242;
$info-color: #3373D2;
$heading-color: #AAAAAA;

// Typografi og størrelser
p, h2,.first-line {
  font-size: 16px;
}

h2,.first-line {
  font-family: newsreader;
}

.second-line {
  font-size: 14px;
}

h1 {
  font-size: 100px;
  font-family: chomsky;
}

h3 {
  font-size: 40px;
  margin-bottom: 0; // Fjern mellemliggende plads under h3-elementet
}

h5, cite {
  font-size: 20px;
}

h4 {
  font-size: 10px;
}

h4, .second-line{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

cite, p, h3, h5 {
  font-family: 'Times New Roman', Times, serif;
}


//Styling af opsætning, mobile first 
body {
  margin: 0; // Fjern standard margin på body-elementet
  padding: 2%; // Fjern standard padding på body-elementet
  background-color: $bg-color;
  //Styling af indhold i header

//Sprog navigation
  .dropdown-content {
    display: none; /* Start med at skjule dropdown-menuen */
    position: absolute;
    background-color: #fff; /* Baggrundsfarve */
    min-width: 160px; /* Minimumsbredde */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Skyggeeffekt */
    z-index: 1; /* Placer dropdown-menuen foran alt andet indhold */
}

.dropdown-content a {
    color: black; /* Tekstfarve */
    padding: 12px 16px; /* Polstring */
    text-decoration: none; /* Fjern understregning */
    display: block; /* Gør links til blokke for korrekt placering */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Baggrundsfarve ved hover */
}

.show {
    display: block; /* Vis dropdown-menuen når klassen 'show' tilføjes */
}

//Burgermenu
.burger-container {
  position: relative;
  cursor: pointer;
}

.burger-menu {
  display: none;
}

.overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-gennemsigtig baggrund */
  display: none; /* Start skjult */
  justify-content: center;
  align-items: center;
}

.modal-nav {
  width: 80%;
  max-width: 600px;
  padding: 40px;
  border: 2px solid $primary-color; /* Ændr kantfarven her */
  background-color: $bg-color;
  align-items: center;
  display: flex;
  flex-direction: column; /* Sikrer, at indholdet er stablet lodret */
  justify-content: center; /* Centrer lodret */
  align-items: center; /* Centrer vandret */
}

.modal-nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.modal-nav ul li {
  margin-bottom: 20px;
}

.modal-nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

.modal-nav ul li a:hover {
  color: #ffcc00;
}


  //Styling af indhold i main
  main {
    padding: 2%;
      img {
      width: 100%; // Gør billedet 100% af dets containerbredde
      height: auto; // Bevar billedets aspektratio
      display: block; // Fjern eventuelle mellemrum under billedet
      margin: 0 auto; // Centrer billedet inden i dets container
    }
  
    img:hover {
      transform: scale(1.05); // Skalér billedet lidt ved hover
    }  

    //Læs højt knap
    #read-aloud-button, #read-aloud-button-annonce {
      border: none; // Fjern knapens kantlinje
      background-color: transparent; // Gennemsigtig baggrund
      padding: 10px; // Tilføj polstring for at øge knappens størrelse
    }
    
    #read-aloud-button i, #read-aloud-button-annonce i {
      color: $info-color; 
      font-weight: bold; // Gør ikonet fed
      font-size: 20px; // Juster ikonets størrelse
    }

    #read-aloud-button-annonce{
      align-self: flex-start;
    }


    //Journalist og lydknap  
    .lydogjournalist {
      display: flex;
      align-items: center; // Centrer indholdet lodret
    }
    
    #read-aloud-button {
      margin-right: 10px; // Tilføj en lille margen til højre for knappen
    }

    .author-name {
      border-top: 1px solid $primary-color; // Tilføj en top border til navne-containeren
      padding-top: 10px; // Tilføj en lille padding øverst
    }

     h4 {
      margin: 0; // Fjern eventuel indvendig margin
    }   

    //Annoncer
    .advertisement {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center; 
      padding-top: 5%;
      padding-bottom: 5%;
      border: 2px solid black;
      background-color: $secondary-color;
  
      .annonce-line {
          border-top: 1px solid $primary-color;
          padding-top: 0;
          width: 25%;
          text-align: center;
      }
  
      .advertisement-heading {
          margin: 0;
          font-size: 100px;
          color: $heading-color;
      }
  
      @media screen and (max-width: 768px) {
          .advertisement-heading {
              font-size: 70px;
              font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }
      }
  }
  
  .divider-main {
    border-top: 1px solid $primary-color; // Sort streg
    width: 100%; // 90% af bredden
    margin: 0 auto; // Centreret i forhold til parent container
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .samtale{
    padding-bottom: 20px;
  }

//Styling af klik-her-knapper
  .custom-button, .no-button, .yes-button, .next-button {
    border-radius: 100px; // Gør knappen helt rundet
    background-color: $bg-color; // Direkte angivelse af baggrundsfarven
    text-align: center; // Centrer tekst inden i knappen
    font-size: 30px; // Skriftstørrelse
    font-family: "Chomsky"; // Skrifttype
    color: $info-color; // Skriftfarve
    box-shadow: 0px 5px 15px $info-color;
    border: none;
  }

//Stor klik-her-knap
  .custom-button{
  width: 200px; // Sæt bredden til 200px
  height: 70px; // Sæt højden til 70px
}

//Lille klik-her-knap
.no-button, .yes-button, .next-button{
  width: 135px; // Sæt bredden til 200px
  height: 50px; // Sæt højden til 70px
}

.around-button {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex; // Gør det muligt at justere elementer i midten
  align-items: center; // Centrer elementer vertikalt
  justify-content: center; // Centrer elementer horisontalt
}

// Styling for overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-gennemsigtig baggrund */
  display: none; /* Start skjult */
  justify-content: center;
  align-items: center;

  .modal {
    width: 80%;
    max-width: 600px;
    padding: 40px;
    border: 2px solid $primary-color; /* Ændr kantfarven her */
    background-color: $bg-color;
    justify-content: center;
    align-items: center;

    p {
      margin-bottom: 20px;
      text-align: center; /* Centrer tekst i <p> elementer */
    }

    button {
      display: block;
      margin: 30px auto;
      padding: 10px 20px;
      border: none;
      background-color: $bg-color;
      color: $info-color;
      border-radius: 100px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
}
}

//Styling af indhold i footer
footer img {
  width: 100%;
  max-width: 10%;
  height: auto;
  display: block;
}
}
