@charset "UTF-8";
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-gennemsigtig baggrund */
  display: none; /* Start skjult */
  justify-content: center;
  align-items: center;
}
.overlay .modal {
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.overlay .modal p {
  margin-bottom: 20px;
}
.overlay .modal button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  background-color: #007bff; /* Blå farve */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.overlay .modal button:hover {
  background-color: #0056b3; /* Mørkere blå farve ved hover */
}

body {
  /*Rød klat, så musen ikke bliver væk for svagtseende*/
  cursor: none;
}

/*Rød klat, så musen ikke bliver væk for svagtseende*/
.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: #EB5042;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

p, h2, .first-line {
  font-size: 16px;
}

h2, .first-line {
  font-family: newsreader;
}

.second-line {
  font-size: 14px;
}

h1 {
  font-size: 100px;
  font-family: chomsky;
}

h3 {
  font-size: 40px;
  margin-bottom: 0;
}

h5, cite {
  font-size: 20px;
}

h4 {
  font-size: 10px;
}

h4, .second-line {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

cite, p, h3, h5 {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}
body header header img {
  width: 100%;
  max-width: 10%;
  height: auto;
  display: block;
}
body main {
  padding: 2%;
}
body main img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
body main img:hover {
  transform: scale(1.05);
}
body main #read-aloud-button, body main #read-aloud-button-annonce {
  border: none;
  background-color: transparent;
  padding: 10px;
}
body main #read-aloud-button i, body main #read-aloud-button-annonce i {
  color: #3373D2;
  font-weight: bold;
  font-size: 20px;
}
body main #read-aloud-button-annonce {
  align-self: flex-start;
}
body main .lydogjournalist {
  display: flex;
  align-items: center;
}
body main #read-aloud-button {
  margin-right: 10px;
}
body main .author-name {
  border-top: 1px solid #333333;
  padding-top: 10px;
}
body main h4 {
  margin: 0;
}
body main .advertisement {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 2px solid black;
  background-color: #F5F5DE;
}
body main .advertisement .annonce-line {
  border-top: 1px solid #333333;
  padding-top: 0;
  width: 25%;
  text-align: center;
}
body main .advertisement .advertisement-heading {
  margin: 0;
  font-size: 100px;
  color: #AAAAAA;
}
@media screen and (max-width: 768px) {
  body main .advertisement .advertisement-heading {
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}
body main .divider-main {
  border-top: 1px solid black;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
body main .samtale {
  padding-bottom: 20px;
}
body main .custom-button {
  width: 200px;
  height: 70px;
  border-radius: 100px;
  background-color: #F5F5F5;
  text-align: center;
  font-size: 30px;
  font-family: "Chomsky";
  color: #3373D2;
  box-shadow: 0px 5px 15px #3373D2;
  border: none;
}
body main .around-button {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}
body main .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background-color: white;
  border: 2px solid black;
  border-color: green;
  padding: 20px;
  text-align: center;
}
body main .overlay button {
  width: 130px;
  height: 50px;
  border-radius: 25px;
  font-family: "Chomsky", sans-serif;
  font-size: 30px;
  color: blue;
  cursor: pointer;
  margin: 10px;
}
body main #overlay-ok button,
body main #overlay-cancel button {
  border-color: red;
}
body main #overlay-naeppe button,
body main #overlay-ja button {
  border-color: green;
}
body main #overlay-naeppe button,
body main #overlay-ja button {
  display: inline-block;
  vertical-align: middle;
}
body footer footer img {
  width: 100%;
  max-width: 10%;
  height: auto;
  display: block;
}/*# sourceMappingURL=styles.css.map */